.guidlines {
    margin: 4em 7em;
}

.guidlines-h1 {
    font-size: 3em;
    color: #AD2B21;  
    position: relative;
}

.guidlines-h1-btn {
    position:absolute ;
    right: 2em;
    padding: 0.5em 2em;
    background-color: #BD1414;
    color: white;
    border: none;
    border-radius: 0.7em;
}



.guidlines-h3 {
    font-weight: bolder;
    font-size: 2em;
}

.guidlines-p {
    color: #AD2B21;
    font-weight: normal;
    margin: 2em 0;
}

.guidlines-p-span {
    margin: 0.5em;
}

.guidelines-h2 {
    margin-top: 20px;
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 1.3em;
    /* margin-left: 0px; */
}

.guidlines-ul {
    line-height: 2em;
    font-weight: lighter;
    margin-left: 25px;
}

 @media (min-width: 1600px) {

}
@media (min-width: 1850px) {

}
 @media (max-width: 1400px) {

}
@media (max-width: 1300px) {

}
@media (max-width: 1100px) {

}
@media (max-width: 970px) {
    .guidlines-h1-btn {
        top: 1em;
        right: 0.5em;
    }

}
@media (max-width: 767px) {
    .guidlines {
        margin: 2em 4em;
        
    }
    .guidlines-h1 {
        font-size: 2em;
        color: #AD2B21;  
        position: relative;
    }

    .guidlines-h1-btn{
        left: 0;
        right: 20em;
        bottom: 0;
       top: 11em;
       padding-top: 1em;
       padding-bottom: 2em;
       padding-left: 0.5em;
       padding-right: 0.5em;
       width: 200px;
    }
    .jobguidelines-hr{
     margin-top: 5em;
    }
    .guidlines-h3 {
        font-weight: lighter;
        font-size: 1em;
    }

}


@media (max-width: 480px) {
 .guidlines-h1-btn{
    top: 12em;
 }
} 



